/*Parágrafos*/
h1
{
    font-size: 50px;
    color: #1fbd00;
    font-family: 'OCR A Std', monospace;
}

h2
{
    font-size: 40px;
    color: #70d15c;
    font-family: 'OCR A Std', monospace;
}

h3
{
    font-size: 35px;
    color: #70d15c;
    font-family: 'OCR A Std', monospace;
}

p
{
    font-size: 20px;
    font-family: 'OCR A Std', monospace;
}
/*/Parágrafo*/


/*Links*/
a:link 
{
 color: #1fbd00;
}

a:hover 
{
 color: #70d15c;
}

a:visited 
{
    color: #46853a;
}
/*/Links*/


/*Listas*/
ol
{
     font-size: 25px;
     font-family: 'OCR A Std', monospace;
    }

 ul
 {
     font-size: 25px;
     font-family: 'OCR A Std', monospace;
    }
/*/Listas*/


/*Tabela*/
caption
{
    font-size: 40px;
    color: #1fbd00;
    font-weight:bold;
    font-family: 'OCR A Std', monospace;
}

table
{
    background-color: #fff0f0;
    font-family: 'OCR A Std', monospace;
}

thead
{
     font-size: 25px;
     color: #fff0f0;
     background-color: #70d15c;
     font-family: 'OCR A Std', monospace;
    }

tbody
{
     font-size: 20px;
     color: #fff0f0;
     background-color: #9fe491; 
     font-family: 'OCR A Std', monospace;
    }

tfoot
{
    font-size: 15px;
    color: #fff0f0;
    background-color: #9fe491; 
    font-family: 'OCR A Std', monospace;
}
/*/Tabela*/


/*Input*/
label
{
    font-size: 18px;
    font-family: 'OCR A Std', monospace;
}

input
{
    font-size: 14px;
    color: #46853a;
    font-family: 'OCR A Std', monospace;
}
/*/Input*/


/*Imagem*/
figcaption
{
    font-size: 15px;
    color: #1fbd00;
    font-family: 'OCR A Std', monospace;
}
/*/Imagem*/