*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*::selection{
    background-color: rgb(255, 42, 42);
    border-radius: 50%;
}

main, header nav, footer section{
    padding: 0 100px;
}

main h3{
    font-size: 25px;
}

main blockquote{
    padding-bottom: 10%;
}

article {
    width: 80%;
    margin: 0 auto;
}

header{
    position: sticky;
    top:0;
}

body {
    background-color : rgb(22, 13, 14) ; 
    color : #FFF; 
}

header ul, .topics ul{
    list-style: none;
    color: aliceblue;
}

h2 {
    font-size: 2.3rem;
    margin: 20px 0 5px 0;
}

ul{
    padding-left: 20px;
    list-style-type:square;
}

em{
    font-weight: bolder;
    font-style: none;
}

.banner{
    display: flex;
    background-image: url("./img_camareoun/banner.jpg") ;
    background-size: cover;
    padding: 40px 5%;
    gap: 20px;
}

.banner img{
    width: 10%;
}

#title h1{
    border-bottom: 1px whitesmoke solid;
}

#title{
    color: aliceblue;
    position: relative;
    top: 20px;

}

nav{
background-color: rgb(122, 95, 63);
}

nav ul{
    display: flex;
    gap: 10%;
    justify-content: space-around;
    list-style: none;
    height: 30px;
    align-items: center;
}

nav a:hover{
    color: rgb(255, 255, 255);
    font-size: 1.025em;
    text-decoration: underline;
    transition: 0.5s;
}

li a {
    text-decoration: none;
    color: rgb(221, 220, 220);
}

.topics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    margin: 50px 0px 100px 10px;
    gap: 40px;
}

.topic{
    text-align: center;
    margin: auto;
    height: 242px;
}

.topic ul{
    display: flex;
    gap: 5%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
} 

.topic img{
    width: 160px;
    border-radius: 100%;
    justify-content: space-between;
    transition: 0.5s;
}

.topic img:hover{
    transition: 0.5s;
    margin: 0;
    width: 175px;
}

.topics a:hover{
    color: rgb(255, 253, 113);
    text-decoration: underline;
    transition: 0.5s;
}

footer{
    background-color: black;
    padding : 30px; 
}

.E-rhari {
    padding: 20px 0px;
    width: 100%;
}

.pontes{
    padding: 20px 0px;
    width: 100%;
}   

.pontes img{
    float: right;
}

.pontes h4{
    text-align: end;
}

.copy {
    text-align: center;
}

.autors img {
    width : 10%;
}

.autors{
    display: flex;
}

#titleartc{
    text-align: center;
}

@media  screen and (max-width: 980px) {
    main{flex-direction: column;}
    iframe{width: 545px; height: 306px;}
}

@media  screen and (max-width: 800px) {
    main{flex-direction: column;}
    iframe{width: 272px; height: 153px;}
}