@import url("./main.css");

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 30px;
   padding: 50px 50px ;
}

article  {
    width: 200%;
    line-height: 40px;
}

figure img {
  text-align: center;
  width: 100%;
}

.imageblock {
    display: grid;
    gap: 20px;

} 

.imageblock div {
    display: flex;
    gap: 10px;
}

td, tr{
    border: 1px solid;
    border-collapse: collapse;
    padding: 6px;
    text-align: center;
}

table{
    border: 3px solid;
}

tr:nth-child(even){
    background-color: rgb(34, 26, 26)
}

tr:hover{
    background-color: rgb(92, 81, 82)
}

td:hover{
    font-size: 1.05rem;
    transition: 0.25s;
}

tr:first-child{
    background-color: rgb(63, 51, 52) ; 
    font-weight: bold;
}
