/*Base*/

    /*Texto*/
    h1{
        font-weight: bolder;
        font-size: 2rem;
        margin: 10px 0 0 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    ul{
        list-style: none;
    }

    li{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    legend{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /*!--Texto--!*/

    /*Emphases*/
    em{
        font-weight: bolder;
        font-style: normal;
        color: orange;
    }
    /*Emphases*/

    /*Links*/
    a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aliceblue;
        text-decoration: none;
    }

    a:hover{
        transition: 1s;
        color: rgb(255, 237, 214);
        text-decoration: underline;
    }
    /*!--Links--!*/

    /*Botões*/
    button{
        border: none;
        background-color: orange;
        color: aliceblue;
        width: 40%;
        float: right;
        border-radius: 5px;
        padding: 5px;
        margin: 0  0 15px 15px;
        font-weight: bold;
        transition: 1s;
    }

    button:hover{
        background-color: aliceblue;
        color: orange;
        transition: 1s;
    }

    button:active{
        color: rgb(250, 232, 71);
        transition: 0.2s;
    }
    /*!--Botões--!*/

/*Divisores*/
    /*Base*/
    body{
        margin: 0;
    }

    /*Moldura*/
    header, main, nav ul, #footcontent{
        width: 800px;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    
    /*!--Moldura--!*/

    /*Header*/
    header{
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    header h2{
        flex-wrap: wrap;
    }

    #headertxt{
        display: block;
        width: 50%;
        height: 30px;
    }
   
    aside{
        background-color: rgb(29, 29, 82);
        padding: 10px;
        border-radius: 5px;
        height: 6%;
        text-align: center;
        margin: 10px;
    }

    aside p{
        margin: 0;
        height: 0;
    }

    #headeraside{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 300px;
        width: 50%;
        background-image: url(../img/entregador_site4.png);
        background-repeat: no-repeat;
        background-size: 300px;
    }

    #headeraside img{
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /*!--Header--!*/

    /*Nav*/
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #0d2935;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;

    }

    nav li{
        padding: 15px;
        margin: 0
    }

    nav li:first-child{
        background-color: orange;
    }
    /*!--Nav--!*/

    /*Divs*/
    #boxes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .box{
        width: 230px;
        margin: 0;
        border: rgb(224, 219, 219) solid;
        display: flex;
        flex-direction: column;
    }

    .box img{
        width: 100%;
        margin: 0;
    }

    .box h3{
        color: aliceblue;
        background-color: #0d2935;
        padding: 7px;
        margin: 0;
    }

    .box p{
        margin: 15px;
        font-weight: normal;
    }

    /*!--Divs--!*/

    /*Footer*/
    footer{
        background-color: #0d2935;
        height: 100%;
    }

    #footcontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }

    footer p, legend, footer li{
        color: aliceblue;
    }

    #footleft, #footright{
        margin: 5px;
        height: 100%;
    }

    #footleft{
        width: 60%;
    }

    #footright{
        width: 40%;
    }

    footer img{
        width: 20px;
    }

    footer ul{
        padding: 10px;
    }

    footer button{
        width: auto;
    }

    form{
        height: 100%;
    }

    input{
        background-color: #091f29;
        color: aliceblue;
        border: none;
        padding: 5px;
        margin: 2px;
    }

    #mensagem{
        height: 150px;
    }


    #places{
        background-color: #091f29;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #social{
        display: flex;
        flex-direction: row;
        float: right;
        margin: 0;
    }

    #social li{
        margin: 3px;
    }

    /*!--Footer--!*/
/*!--Divisores--!*/

/*IDs*/

/*!--IDs--!*/