/*Base*/
    /*Seletores Base*/
    body {
        background-color: rgb(2, 27, 38);
    }

    main {
        background-color: rgb( 255, 255, 255);
    }
    /*!--Seletores Base--!*/

    /*Txt*/
    p{
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1, h2, h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    figcaption {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    em {
        font-weight: bolder;
        color: #2e80d1;
        font-style:normal;
    }
    /*!--Txt--!*/

    /*Nav*/
    nav ul {
       display: flex;
       flex-direction: row;
       list-style: none;
    }

    nav li{
        margin: 10px;
    }
    /*!--Nav--!*/

    /*Links*/
    a{
        text-decoration: none;
        color:#00172e;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
        font-size: 0.9em;
        transition: 0.5s;
    }

    a em{
        transition: 0.5s;
    }

    a:hover {
        color: #2e80d1;
        text-decoration: underline;
        transition: 0.5s;
    }

    a:hover em{
        color:#fff;
        transition: 0.5s;
    }
    /*!--Links--!*/
/*!--Base--!*/

/*Divisores*/
    /*Moldura*/
    header, main, footer{
        width: 960px;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    /*!--Moldura--!*/

    /*Cabeçalho*/
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    header nav ul{
        margin: 0;
     }

    header nav a{
    color: #fff
    }

    header h1 {
        color: #fff;
        justify-content: center;
        margin: 0;
    }
    /*!--Cabealho--!*/

    /*Banner*/
    #banner{
        background-image: url(../img/Surfista.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 5px;
        background-attachment: fixed;
        color: #fff;
        width: 100%;
        height:400px;
        box-sizing: border-box;
        }

        /*Conteudo Banner*/
        #banner h2{
            margin: 0 0 0 40px;
            padding: 30px 0 0 0;
            font-size: 5em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }  

        #banner p{
            margin: 10px 0 0 40px;
            font-size: 2em;
            width: 300px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        /*!--Conteudo Banner--!*/
    /*!--Banner--!*/

    /*Informações*/
    #infosec{
        display: flex;
        flex-direction: row;
    }
        /*Quadrados*/
        .info {
            background-color: #2e80d1;
                color: #fff;
            width: 300px;
            height: 100%;
            padding: 10px;
            margin: 20px 10px 10px 10px;
        }

        #inf1{
            margin-left: 0;
        }

        #inf3{
            margin-right: 0;
        }
        /*!--Quadrados--!*/

        /*Conteudo Info*/
        .info h3{
            font-size: 2em;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .info p{
            margin: 5px 0 5px 0;
        }
        /*!--Conteudo Info--!*/

        /*Botão*/
        .info button{
            background-color: #66b3ff;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            border: none;
            padding: 10px;
            transition-duration: 0.5s;
        }

        .info button:hover{
            background-color: #fff;
            color: #66b3ff;
            cursor: pointer;
            transition: 0.5s
        }

        .info button:active{
            background-color: #ffffff;
            color: #a7e6ff;
            transition: 0s;
        }
        /*!--Quadrados--!*/
    /*!--Informações--!*/

    /*Fim*/
    #fim{
        display: flex;
        flex-direction: row;
    }
    /*"Conquiste o Mundo*/
    #insp figure{
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    #insp img{
        margin: 0 10px 0 0;
        height: 100%;
    }

    #insp figcaption{
        width: 324px;
    }
    /*!--"Conquiste o Mundo--!*/

    /*Depoimento*/
    #depo{
        width: 400px;
    }

    #depo blockquote{
        padding: 30px;
        font-style: italic;
        background-color: rgb(195, 227, 245);
        margin: 0 0 25px 10px;
    }
    /*!--Depoimento--!*/

    /*Rodapé*/
    footer{
        padding: 0 0 0 0;
        color: #fff;
    }

    #copyr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        /*Nav Footer*/
        main footer {
            background-color: rgb(195, 227, 245);
            width: auto;
            padding: 0;
        }

        footer li{
            margin: auto;
        }

        footer ul{
            padding: 0 40px 0 40px;
        }

        a:hover {
            color: rgb(0, 174, 255);
            text-decoration: underline;
            transition: 0.5s;
        }


        /*!--Nav Footer--!*/

        /*Social*/
            #social{
                list-style: none;
                display: flex;
                flex-direction: row;                padding: 0;
                margin: 0;
            }

            #social li{
                margin: 13px 5px 0 5px;
            }

            #social img{
                width: 25px;
                height: 25px;
            }
            /*!--Social--!*/
        /*!--Rodapé--!*/
/*!--Divisores--!*/